
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/web/images/about_banner.jpg" alt="" />
            <p>175 milyondan fazla toplu otel değerlendirmesi ve 19 milyondan fazla resim sayesinde,
            seyahat ettiğiniz yer hakkında daha fazla veriye ulaşabilirsiniz. trivago kullanıcılarına 
            seyahat etmeyi planladıkları yerdeki, örneğin Ankara’da, en ideal oteli ve güncel bilgileri
            verebilmek için Hotels.com, Expedia, başlıca otel zincirleri gibi farklı rezervasyon sitelerinden
            otellerin ortalama değerlendirme puanlarını ve yorumlarını aktarıyor.</p>
        </div>
    </div>
</div>