@using TravelAndTripProject.Models.Classes
@model List<Blog>
<div class="padding1">
    <h4>Our Best Places</h4>
    <div class="box-left">
        @foreach (var item in Model)
        {
            <div class="bot-img">
                <img src="@item.BlogImage" alt="" />
            </div>
            <div class="bot-desc">
                <p>@item.Aciklama.Substring(0,85)...</p>
            </div>
            <div class="clear"></div>
        }
    </div>
    <div class="box1-left">
        <div class="bot-img">
            <img src="~/web/images/pic9.jpg" alt="" />
        </div>
        <div class="bot-desc1">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
        </div>
        <div class="clear"></div>
        <div class="bot-img">
            <img src="~/web/images/pic10.jpg" alt="" />
        </div>
        <div class="bot-desc1">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
        </div>
        <div class="clear"></div>
        <div class="bot-img">
            <img src="~/web/images/pic3.jpg" alt="" />
        </div>
        <div class="bot-desc1">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
        </div>
        <div class="clear"></div>
    </div>
</div>
